/*@import url('https://fonts.googleapis.com/css?family=Lora:400,700');*/

.white-popup {
  position: relative;
  background: #FFF;
  padding: 30px;
  width: auto;
  line-height: 1.4rem;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 20px;
}

input {
    	display:block;
    width: 94%;
    padding: 3%;
    font-size: 20px;
	  font-family: 'Lora', serif;
    background: #efefef;
    border: 0;
    border-radius: 20px;
    outline: 0;
    margin-bottom: 10px;
    
}
input:focus { outline:0 !important; }

textarea,.textareaClone {
  padding: 3%;
  background: transparent;
  white-space: pre-wrap;
  font-family: 'Lora', serif;
  word-wrap: break-word;
  border: 0;
  border-radius: 20px;
  margin-bottom: 10px;
}
.expandingText > textarea {
  margin-bottom: 10px;
  font-family: 'Lora', serif;
	border-radius: 20px;
	background: #efefef;
	font-size: 20px;
	 border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}
textarea:focus { outline:0 !important; }

button.btn {
	border: 2px solid #c81010;
	background-color: #fff;
	color: #c81010;
	padding: 3%;
	width: 100%;
	border-radius: 20px;
  font-family: 'Lora', serif;
	font-size: 20px;
	text-align: center;
}
.g-recaptcha {
	transform:scale(0.77);
	-webkit-transform:scale(0.77);
	transform-origin:0 0;
	-webkit-transform-origin:0 0;
	border-radius: 20px;
	margin: 1.3em auto 0em auto;
	width: 230px;

}